version: '3.7'

services:
  backend:
    container_name: backend
    build:
      context: backend
    stdin_open: true
    environment:
      DB_CONNECTION_URL: ${DB_CONNECTION_URL}
      RUNNING_INSIDE_GITHUB_ACTIONS: ${RUNNING_INSIDE_GITHUB_ACTIONS}
      PYTHONPATH: .
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`lunchero.kcem.pl`) && PathPrefix(`/api`) || Path(`/docs`) || Path(`/openapi.json`)"
      - "traefik.http.routers.backend.entrypoints=websecure"
      - "traefik.http.routers.backend.tls.certresolver=letsencrypt"
    depends_on: 
      - postgres
    network_mode: "host"
    
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: lunchero_backend
    volumes:
      - postgres_data:/var/lib/postgresql/data
    network_mode: "host"

volumes:
  postgres_data:
    driver: local
