name: backend
on: [push]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - uses: actions/checkout@v2
      - uses: isbang/compose-action@v1.4.0
        with:
          env:
            POSTGRES_PASSWORD: postgres
            POSTGRES_USER: postgres
            DB_CONNECTION_URL: postgresql+psycopg2://postgres:postgres@postgres/lunchero_backend
      - name: Run migrations
        run: docker-compose exec backend alembic upgrade head
      - name: Tests with pytest
        run: docker-compose exec backend PYTHONPATH=. pytest -n 4
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python "3.10"
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
