name: frontend
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: launchero-client
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: "18.x"
    - name: Install modules
      run: npm install
    - name: Run ESLint
      run: npm run lint
    - name: Run unit tests
      run: npm run test
    - name: Build production app
      run: npm run build
    - name: Run E2E Tests
      uses: BerniWittmann/background-server-action@latest
      with:
        command: npm run cypress:headless
        start: npm run start
